<div class="max-w-2xl mx-auto p-6">
  <div class="mb-6">
    <.link
      navigate={~p"/clans/#{@clan.slug}/events/#{@event.id}"}
      class="text-blue-500 hover:underline flex items-center"
    >
      &larr; Back to Event
    </.link>
  </div>

  <.live_component
    module={TbTipsWeb.EventLive.FormComponent}
    id={@event.id}
    title="Edit Event"
    action={@action}
    event={@event}
    clan={@clan}
    patch={~p"/clans/#{@clan.slug}/events/#{@event.id}"}
  />
</div>
